// Ici on customize et overide les variables que vous trouverez dans node_modules\bootstrap\scss\_variables.scss
$primary:#D36135;
$secondary:#263238;
$light:#F5F4F8;

@import "../node_modules/bootstrap/scss/bootstrap";